
<h1 class="text-center page-title">Edit Your Character</h1>

<div class=" card shadow-lg col-lg-4 col-md-6 bg-white mx-auto pt-2" >
    <%= form_with(model: [@user, @character], local: true) do |form| %>
  
      <p>
        <strong>Name:</strong>
        <%= @character.name %>
      </p>

      <p>
        <strong><%= form.label :lvl %></strong>
        <%= number_field(:character, :lvl, in: 1..20, step: 1) %>
      </p>

      <p>
        <strong>Race:</strong>
        <%= @character.race %>
      </p>

      <p>
        <strong>Class:</strong>
        <%= @character.class_type %>
      </p>

      <p>
        <strong><%= form.label :info %></strong><br>
        <%= form.text_area :info %>
      </p>
      
      <div class="actions text-center">
        <p>
          <%= form.submit %>
        </p>
      </div>
 
      <% if @character.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@character.errors.count, "error") %> prohibited
            this character from being saved:
          </h2>
          <ul>
          <% @character.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>