<% provide(:title, "Character") %>

<!DOCTYPE html>
<html>

<body>

    <p> Here's your character <%= @user.username %> </p>

		<p>
  		<strong>Name:</strong>
  		<%= @character.name %>
		</p>

		<p>
  		<strong>Level:</strong>
  		<%= @character.lvl %>
		</p>
 
		<p>
  		<strong>Race:</strong>
  		<%= @character.race %>
		</p>

		<p>
  		<strong>Class:</strong>
  		<%= @character.class_type %>
		</p>

		<p>
  		<strong>Info:</strong>
  		<%= @character.info %>
		</p>

		<p>
      <%= button_to 'Back to My Characters', user_characters_path, method: :get %>
  	</p>

    <p>
      <%= button_to 'Edit', edit_user_character_path(@user), method: :get %> 
    </p>
    
    <p>
      <%= button_to 'Export', method: :post %> 
    </p>

    <p>
      <%= button_to 'Delete', user_character_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </p>
  	
    <br>
	</body>
</html>
