<% provide(:title, "Character") %>

<!DOCTYPE html>
<html>

<body>
		<p>
  		<strong>Name:</strong>
  		<%= @character.name %>
		</p>

		<p>
  		<strong>Level:</strong>
  		<%= @character.lvl %>
		</p>
 
		<p>
  		<strong>Race:</strong>
  		<%= @character.race %>
		</p>

		<p>
  		<strong>Class:</strong>
  		<%= @character.class_type %>
		</p>

		<p>
  		<strong>Info:</strong>
  		<%= @character.info %>
		</p>

		<p>
      <%= button_to 'Back to My Characters', characters_path, method: :get %>
  	</p>

    <p>
      <%= button_to 'Edit', edit_character_path(@character), method: :get %>
    </p>

  	<br>
	</body>
</html>
