<% provide(:title, "Profile") %>
<!DOCTYPE html> 
  <h2 class="text-center page-title">Edit Your Profile.</h2>
  
  <div class=" card shadow-lg col-lg-4 col-md-6 bg-white mx-auto pt-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mt-2 p-2" }) do |f| %>

  <div class="field">
     <p><%= f.label :username %><br />
     <%= f.text_field :username %></p>
  </div>

  <div class="field">
    <p><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <p><%= f.label :password %> <small>(leave blank if you don't want to change it)</small><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <small><%= @minimum_password_length %> characters minimum</small>
    <% end %></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :current_password %>
    <small>(we need your current password to confirm your changes)</small><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions">
    <p><%= f.submit "Update" %></p>
  </div>
<% end %>

<h3 class= "text-center">Want to cancel your account?</h3>

<p class="text-center"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-center" %></p>
  <%= render "devise/shared/error_messages", resource: resource %>

</div>