
<h1 class="text-center page-title">Edit Your Campaign</h1>
<div class=" card shadow-lg col-lg-4 col-md-6 bg-white mx-auto pt-2" >
  <%= form_with(model: [@user, @campaign], local: true) do |form| %>
  
    <p>
      <strong>Name:</strong>
      <%= @campaign.title %>
    </p>

    <p>
      <strong> <%= form.label :description %></strong><br>
      <%= form.text_area :description %>
    </p>
    
    <div class="actions text-center">
      <p>
        <%= form.submit %>
      </p>
    </div>

    <% if @campaign.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@campaign.errors.count, "error") %> prohibited
          this campaign from being saved:
        </h2>
        <ul>
          <% @campaign.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
 
  <% end %>