<% provide(:title, "Create a Campaign") %>
<!DOCTYPE html>
<html>
  <body>

    <!--ERRORS-->
    <% if @campaign.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <div id="error_explanation">
          <h2>
            <%= pluralize(@campaign.errors.count, "error") %>
          </h2>
          <ul>
            <% @campaign.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%= form_with scope: :campaign, url: campaigns_path do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
  

    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>
 
    <p>
      <%= form.submit %>
    </p>
    <% end %>

    <%= button_to 'Back', campaigns_path, method: :get %>

  </body>
</html>