<% provide(:title, "Campaign") %>

<!DOCTYPE html>
<html>

<body>
    <p>
      <strong>Master:</strong>
      <%= @campaign.master %>
    </p>

		<p>
  		<strong>Title:</strong>
  		<%= @campaign.title %>
		</p>

		<p>
  		<strong>Description:</strong>
  		<%= @campaign.description %>
		</p>

    <% if (current_user.username == @campaign.master) %>
    <p>
      <table>
        <tr>
         <th>Character's Owner</th>
          <th>Character's name</th>
        </tr>

        <% @characters.each do |c| %>
        <tr>
          <td><%= c.user_id  %></td>
          <td><%= c.name %></td>
        </tr>
        <% end %>
      </table>
    </p>
    <% end %>

    <p>
      <%= button_to 'Add Character', add_character_path %> <!-- This was mostly for testing -->
    </p>
    
    <% if (current_user.username == @campaign.master) %>
      <p>
        <%= button_to 'Manage Characters', manage_characters_path, method: :get %>
      </p>
    <% end %>

		<p>
      <%= button_to 'Back to My Campaigns', user_campaigns_path, method: :get %>
  	</p>

    <p>
      <%= button_to 'Edit', edit_user_campaign_path(@user), method: :get %>
    </p>

    <p>
      <%= button_to 'Delete', user_campaign_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </p>
  	
    <br>
	</body>
</html>
