<% provide(:title, "Campaign") %>

<!DOCTYPE html>
  <h1 class="text-center page-title">Here's Your Campaign</h1>
    
    <div class="row">
      <div class="card shadow-lg col-lg-4 col-md-4 col-sm-3 bg-white mx-auto pt-3 pb-3">

        <%= form_with url: add_character_path do |form| %>
          <p>
            <strong>Master:</strong>
            <%= @campaign.master %>
          </p>

		      <p>
  		      <strong>Title:</strong>
  		      <%= @campaign.title %>
		      </p>

		      <p>
  		      <strong>Description:</strong>
  		      <%= @campaign.description %>
		      </p>

          <% if (current_user.username == @campaign.master) %>
            <p>
              <table class="table bordered-table">
                <thead>
                  <tr>
                    <th>Character's Owner</th>
                    <th>Character's name</th>
                  </tr>
                </thead>
                <tbody>
                  <% @characters.each do |c| %>
                    <tr>
                      <td><%= User.find(c.user_id).username  %></td>
                      <td><%= c.name %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </p>
          <% end %>


        <div class="text-center">
          <p>
            
            <% if current_user.admin? %>
              <div class="field">
                <p>
                  <%= form.label :character%> 
                  <%= collection_select( :character, :character_id, Character.all, :name, :name, {}, {:multiple => false}) %>
                </p>
              </div>

              <%= form.submit "Add This Character", class: "btn  btn-outline-primary-bis waves-effect" %>
              <!--<%= link_to 'Add Character', add_character_path, class: "btn  btn-outline-primary-bis waves-effect" %>  This was mostly for testing -->
            <% end %>

            <% if (current_user.username == @campaign.master || current_user.admin?) %>
              <%= link_to 'Manage Characters', manage_characters_path, class: "btn  btn-outline-primary-bis waves-effect" %>
            <% end %>

          </p>
        </div>
        <% end %>

        <div class="text-center">
		      <p>
            
            <%= button_to 'New session event', new_event_path, method: :get, class: "btn  btn-outline-primary-bis waves-effect" %>
            <p></p>

            <%= link_to 'Edit', edit_user_campaign_path(@user), class: "btn  btn-outline-primary-bis waves-effect" %>

            <%= link_to 'Delete', user_campaign_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn  btn-outline-primary-bis waves-effect" %>

            <hr>

            <%= link_to 'Back to My Campaigns', user_campaigns_path, class: "btn  btn-outline-primary-bis waves-effect" %>
    
          </p>
        </div>
      </div>
    </div>
