<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1>home page for logged user</h1>
    <p>Hi <%= current_user.username%>! This is your homepage</p>
    
    <p>
      <%= button_to 'My Characters', user_characters_path(current_user.id), method: :get %> 
    </p>

    <p>
      <%= button_to 'My Campaigns', user_campaigns_path(current_user.id), method: :get %> 
    </p>
     <p>
      <%= button_to 'Invites', user_invites_path(current_user.id), method: :get %> 
    </p>
    <p>
      <%= button_to 'Requests', user_requests_path(current_user.id), method: :get %> 
    </p>

    <p> <% if current_user.admin? %>
      	<input type="button" name="allUsers" value="All Users" onclick="location.href = 'show_all_users';">
    	<% end %>
    </p>

    <p> <% if current_user.admin? %>
      	<input type="button" name="allCampaings" value="All Campaigns" onclick="location.href = 'show_all_campaigns';">
    	<% end %>
    </p>

    <p>
      <input type="button" name="profile" value="View Profile" onclick="location.href = 'profile';">
  	</p>
  </body>
</html>
