<% provide(:title, "All Users") %>
<!DOCTYPE html>
<h1>Listing users</h1>
 

 
  <% @users.each do |user| %>
      <p><%= user.email %><br />
      <%= user.username %><br />
      <p> Admin: <%= user.admin%></p>
      <input type="button" name="ban" value="Ban" onclick="location.href = '';"><br />
      <% if  !user.admin %>
        <%= link_to("Upgrade to Admin", change_role_path(user.id)) %><br />
      <% else %>
        <%= link_to("Downgrade to User", change_role_path(user.id)) %><br />
      <% end %>
    </p>
  <% end %>

  <p><%= link_to "Home Page", static_pages_home_url%><br /></p>
