<% provide(:title, "All Users") %>
<!DOCTYPE html>
<h1>Listing users</h1>
 

 
  <% @users.each do |user| %>
    <p> <strong> Email: </strong><%= user.email %><br />
    <strong> Username: </strong><%= user.username %><br />
    <strong> Role: </strong> <% if user.admin %>
      Admin
    <% else %>
      User
    <% end %> <br>
    <% if user.block %>
      This user is blocked
    <% end %>

    <p> <%= button_to "View his characters", user_characters_path(user.id), method: :get %> </p>


    <% if  !user.admin %>
      <% if  !user.block %>
        <%= button_to "Block User", block_user_path(user.id), method: :get %><br />
      <% else%>
        <%= button_to "Unblock User", unblock_user_path(user.id), method: :get %><br />
      <% end %>
      <%= button_to "Upgrade to Admin", change_role_path(user.id), method: :get %><br />
      <% elsif (current_user.email =="pivarim@gmail.com" || current_user.email =="perottofederico@gmail.com" ||current_user.email =="deluca.1753532@studenti.uniroma1.it" )||(user.email==current_user.email)%>
        <%= link_to("Downgrade to User", change_role_path(user.id)) %><br />
    <% end %>
    </p>
    <hr>
  <% end %>

  <p> <%= link_to "Home Page", static_pages_home_url%><br />
    <%= button_to "Back", :back, method: :get %>
  </p>
