<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RPG Campaign Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <% if user_signed_in? %>
      [<%= link_to 'Logout',destroy_user_session_path, :method => :delete%>]
    <% end %>
  </body>
</html>
