<% provide(:title, "Send an invite") %>
<!DOCTYPE html>
<html>
  <body>

    <!--ERRORS-->
    <% if @invite.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <div id="error_explanation">
          <h2>
            <%= pluralize(@invite.errors.count, "error") %>
          </h2>
          <ul>
            <% @invite.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%= form_with scope: :invite, url: user_invites_path do |form| %>
    <p>
		
      <%= form.label :dest %><br>
      <%= form.text_field :dest %>
    </p>
    
 
    <p>
      <%= form.submit %>
    </p>
    <% end %>
       
    <%= button_to 'Back', user_invites_path, method: :get %>

  </body>
</html>
